{% assign expandedstars = include.rating | times:2 %}
{% assign oddstar = expandedstars | modulo:2 %}

{% assign half_star = false %}
{% if oddstar == 1 %}
{% assign half_star = true %}
{% endif %}

{% assign last_star = include.rating | round:0 %}
{% assign star_full = '<span class="full">&#9733;</span>' %}
{% assign star_half = '<span class="half">&#9733;</span>' %}
{% assign star = '<span>&#9733;</span>' %}

{% for i in (1..5) %}
{% if i <= last_star %}

{% if i == last_star and half_star %}
{% assign stars = stars | append: star_half %}
{% else %}
{% assign stars = stars | append: star_full %}
{% endif %}

{% else %}

{% assign stars = stars | append: star %}

{% endif %}
{% endfor %}

{% if include.rating != null %}
<p class="star-rating">{{ stars }} Rating: {{ include.rating }}</p>

<!-- Review Star Rating In Google Search Results -->
<script type='application/ld+json'>
{
    "@context":"http://schema.org",
    "@type":"Review",
    "author": {
        "@type":"Person",
        "name":"{{page.author}}"
    },
    "datePublished":"{{page.date}}",
    "publisher": {
        "@type":"Organization",
        "name":"blog.codemartin.com",
        "sameAs":"https://blog.codemartin.com"
    },
    "inLanguage":"en",
    "itemReviewed": {
        "@type":"Product",
        "name": "{{page.title}}",
        "description": "{{page.description}}",
        "sku": "{{page.sku}}",{% if page.isbn != null %}
        "isbn": "{{page.isbn}}",{% endif %}{% if page.mpn != null %}
        "mpn": "{{page.mpn}}",{% endif %}{% if page.brand != null %}
        "brand": "{{page.brand}}",{% endif %}{% if page.thumbnailurl != null %}
        "image": "{{page.thumbnailurl}}",{% endif %}
        "review" : {
          "author": {
        	"@type":"Person",
            "name":"{{page.author}}"
    	  }
        },
        "aggregateRating": {
            "@type": "AggregateRating",
            "reviewCount": "1",
            "ratingValue": "{{include.rating}}"
        },
        "offers": {
          "@type": "Offer",
          "priceCurrency": "GBP",
          "price": "{{page.price}}",
          "availability": "https://schema.org/InStock",
          "priceValidUntil": "2028-12-02 00:00:00 +0000",
          "url": "{{site.url}}{{page.url}}"
        }
    }
}

</script>

<!-- description = snippet of review -->

{% else %}
<br />
<br />
{% endif %}
{% comment %}
Adjusted by: Martin Dye
CSS From: https://coderwall.com/p/iml9ka/star-ratings-in-css-utf8
Rating code: https://keirwhitaker.com/blog/create-a-star-rating-system-in-liquid/


Star rating review template:

<!-- Review Star Rating In Google Search Results -->
<script type='application/ld+json'>
    {
    "@context":"http://schema.org",
    "@type":"Review",
    "author": {
    "@type":"Person",
    "name":"YOUR-NAME",
    "sameAs":"GOOGLE-PLUS-LINK"
    },
    "url": "<data:blog.canonicalUrl/>",
    "datePublished":"2016-03-13T20:00",
    "publisher": {
    "@type":"Organization",
    "name":"WEBSITE-NAME",
    "sameAs":"http://www.YOURWEBSITEURL.com/"
    },
    "description":"<data:blog.metaDescription/>",
    "inLanguage":"en",
    "itemReviewed": {
    "@type":"Product",
    "name": "<data:blog.pageName/>",
    "sameAs": "<data:blog.canonicalUrl/>",
    "image": "<data:blog.postImageThumbnailUrl/>",
    "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4",
    "bestRating": "5",
    "ratingCount": "2"
    }
    }
    }
</script>
{% endcomment %}